[mysqld]
user=mysql
basedir=/apps/Oracle/mysql/
datadir=/apps/Oracle/mysql/data
socket=/apps/Oracle/mysql/socket/mysql.sock
innodb_buffer_pool_size = 128M
symbolic-links=0

[client]
socket=/apps/Oracle/mysql/socket/mysql.sock

[mysqld_safe]
log-error=/apps/Oracle/mysql/logs/mysqld.log
socket=/apps/Oracle/mysql/socket/mysql.sock
pid-file=/apps/Oracle/mysql/pid/mysql.pid
